/*
Color prinicipal: #0DB2AC
Color de enfasis o secundario: #FC694D
Color de fondo: #F5DD7E
Color de texto: #15212a
*/

body{
    background-color: #edd8bb;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

nav{
    display: flex;
    gap: 20px;
}

a{
    transition: color 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease;
}

a:hover{
    color: #0DB2AC;
    font-weight: bold;
    text-decoration: underline;
}
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}
.card{
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    width: 700px;
    border: 5px solid transparent;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.card:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border: 5px solid #12212a;
}

.Bio{
    font-family: 'Host Grotesk', sans-serif;
    color: #15212a;
}

#foto{
    max-width: 700px;
    display: flex;
    justify-content: center;
    background-color: #0DB2AC;
}

#foto img{
    width: 400px;
}

#acerca{
    background-color: #FC694D;
}

#experiencia{
    background-color: #0DB2AC;
}

#personalidad{
    background-color: #FC694D;
}

#hobbies{
    background-color: #0DB2AC;
}

footer{
    /*display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 50px;*/
    background-color: #15212a;
    color: #F5DD7E;
}

.footer-contened{
    background-color: #0f1c24; 
    color: #ffffff;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    padding: 20px 40px;
    flex-wrap: wrap; 
}

#foto-footer{
    flex 1;
}

#foto-footer img{
    max-width: 150px;
    display: block;
}

#Sobre-mi, #derechos {
    margin-left: auto; 
    text-align: right; 
}

#sobre-mi{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 15px;
    font-family: 'Host Grotesk', sans-serif;
    color: #F5DD7E;
}

#sobre-mi #contac p:hover{
    color: red;
    transition: color 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease;
}

#derechos{
    display: flex;
    justify-content: space-evenly ;
    width: 100%; 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    font-size: 0.85rem;
    opacity: 0.7;
}